/* Layout */

body {
	font-family: sans-serif;
	margin: 0;
}

a {
	outline-style: none;
	outline-width: 0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header,
nav,
main,
footer {
	box-sizing: border-box;
	overflow: auto;
	padding-left: 1em;
	padding-right: 1em;
}

header,
nav,
footer {
	text-align: center;
}

header,
nav {
	border-bottom-style: solid;
	border-bottom-width: thin;
}

nav {
	position: sticky;
	top: 0;
	white-space: nowrap;
}

footer {
	border-top-style: solid;
	border-top-width: thin;
}

header > .page,
nav > .page, 
main > .page,
footer > .page {
	margin-left: auto;
	margin-right: auto;
	max-width: 48em;
}

header > .page > * {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

nav > .page > ul {
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}

nav > .page > ul > li,
nav > .page > ul > li > a {
	display: inline-block;
}

nav > .page > ul > li > a {
	box-sizing: border-box;
	border-left-style: solid;
	border-right-style: solid;
	border-left-width: thin;
	border-right-width: thin;
	padding: 0.5em;
	text-decoration: none;
}

@media (orientation: portrait) {

	header > .page > h1 + p {
		height: 0;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}
}

/* Color */

body,
nav {
	background-color: #1e1e1e;
	color: #edebe9;
}

header,
nav,
footer {
	border-color: #7f7f7f;
}

header,
nav > .page > ul > li > a {
	color: #edebe9;
}

header {
	background-color: #7f2d2d;
}

main {
	background-color: #edebe9;
	color: #1e1e1e;
}

nav > .page > ul > li > a {
	background-color: #1e1e1e;
	border-color: #7f7f7f;
	box-shadow: 0 1em 1em -1em #edebe9 inset;
}

nav > .page > ul > li > a:hover {
	box-shadow: none;
}

nav > .page > ul > li > a:active {
	box-shadow: 0 -1em 1em -1em #edebe9 inset;
}

footer {
	color: #7f7f7f;
}

footer a {
	color: #edebe9;
}

